@media (min-width: 50rem) {
  html[data-has-sidebar][data-sidebar-hidden] {
    --sl-content-inline-start: 0rem;
  }

  html[data-sidebar-hidden] nav.sidebar {
    display: none;
  }

  html[data-sidebar-hidden][data-has-sidebar][data-has-toc] .main-pane {
    --sl-content-margin-inline: auto;

    width: 100%;
  }

  html[data-sidebar-hidden][data-has-sidebar][data-has-toc]
    .main-pane
    .content-panel
    > .sl-container {
    margin-inline: auto;
  }
}

@media (min-width: 40rem) {
  html[data-has-hero] .pagination-links > a:only-child {
    width: calc((100% - 1rem) / 2);
  }

  html[data-has-hero] .pagination-links > a[rel='next']:only-child {
    justify-self: end;
  }
}
